.navbar {
    display: flex;
    justify-content: space-between;
}
.dropdown-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1.875rem;
    cursor: pointer;
}
.dropdown-btn span {
    height: 0.1875rem;
    width: 1.5rem;
    background-color: black;
    margin-left: 0.1875rem;
}
.navbar span, .navbar a {
    font-weight: bold;
    font-size: 1.1rem;
    font-family: cursive;
    text-decoration: none;
    color: black;
}
.ninis-header {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Parisienne';
    white-space: nowrap;
}
.ninis-desc {
    text-align: center;
    margin: auto;
    font-size: 1.6rem;
    font-family: 'Parisienne';
    white-space: nowrap;
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background-color: rgba(0,0,0,0.85);
}
.dropdown-content {
    z-index: 999;
    position: fixed;
    left: -30rem;
    top: 0;
    width: 25vw;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}
.show {
    transform: translateX(30rem);
}
.dropdown-content div {
    background-color: white;
    height: 7rem;
    border: 0.0625rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-content a, .dropdown-content span {
    font-size: 2rem;
}
.cakes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5rem;
}
.cake {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
}
.cake-name {
    font-size: 2rem;
    font-family: cursive;
    color: black;
    text-align: center;
    cursor: pointer;
}
.cake-img {
    height: 20rem;
    width: 18rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.cake-modal-content {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35rem;
    width: 50vw;
    overflow: auto;
    background: #fff;
    box-sizing: border-box;
    padding: 0.625rem 1.875rem;
    box-shadow: 0 0.0625rem 0.3125rem rgba(0,0,0,0.7);
    border-radius: 0.25rem;
}
.cake-modal-content header {
    font-size: 2rem;
    font-family: cursive;
    color: black;
    text-align: center;
    font-weight: bold;
}
.cake-info {
    display: flex;
    justify-content: space-between;
}
.cake-info img {
    height: 25rem;
    width: 25vw;
}
.cake-info span {
    font-size: 1.5rem;
    padding-top: 4rem;
    padding-left: 2rem;
}
.account-info, .contact {
    height: 27rem;
    width: 40vw;
    margin: auto;
    margin-top: 6rem;
}
.account-info header, .contact header {
    font-weight: bold;
    font-size: 2.25rem;
    font-family: cursive;
}
.form-inputs, .profile {
    display: flex;
    flex-direction: column;
}
.inputs {
    margin-top: 1rem;
    height: 1.5rem;
    font-size: 1rem;
    border: 0.125rem solid rgb(70, 70, 70);
}
.form-btns, .profile-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.form-btns button {
    height: 2.1rem;
    width: 7rem;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    border: 0.0625rem solid black;
}
.edit-btn, .change-pwd-btn, .save-btn, .quote-btn {
    height: 2.1rem;
    width: 5rem;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    border: 0.0625rem solid black;
}
.change-pwd-btn {
    width: 13rem;
}
.delete-btn {
    height: 2.1rem;
    width: 6rem;
    margin-top: 2rem;
    background-color: rgb(201, 201, 201);
    color: rgb(255, 52, 52);
    font-size: 1.4rem;
    border: 0.0625rem solid black;
}
.form-btns a {
    text-decoration: none;
    color: blue;
    font-size: 1rem;
}
.errors, .success, .message {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}
.success {
    color: #155724;
    background-color: #d4edda;
}
.message {
    color: #004084;
    background-color: #CCE5FE;
}
.err-msg, .success-msg, .msg {
    width: 90%;
}
.close {
    cursor: pointer;
}
.confirmation {
    text-align: center;
    margin-top: 6rem;
}
.confirmation header {
    font-weight: bold;
    font-size: 3rem;
}
.confirmation p {
    font-size: 1.5rem;
}
.confirmation a {
    color: blue;
}
#password-container, .quote {
    height: 27rem;
    width: 40vw;
    margin: auto;
    margin-top: 5rem;
}
#pwd-btn {
    height: 2.1rem;
    width: 10rem;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    border: 0.0625rem solid black;
    margin-top: 1rem;
}
.delete-modal-content {
    z-index: 999;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 9rem;
    width: 40vw;
    overflow: auto;
    background: #fff;
    box-sizing: border-box;
    padding: 0.625rem 1.875rem;
    box-shadow: 0 0.0625rem 0.3125rem rgba(0,0,0,0.7);
    border-radius: 0.25rem;
    font-size: 1.4rem;
}
.delete-modal-content div {
    display: flex;
}
.delete-modal-content button {
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
}
#delete {
    background-color: rgb(219, 0, 0);
    color: white;
    border: 0.0625rem solid rgb(219, 0, 0);
}
#cancel {
    color: #1355CC;
}
.contact-info div {
    margin-top:  2rem;
    display: grid;
    grid-template-columns: 5vw 35vw;
}
.mail, .ig {
    height: 2rem;
    width: 2.6rem;
    grid-column: 1 / span 1;
    margin: auto;
}
.ig {
    width: 2.2rem;
}
.contact-info a {
    font-size: 2rem;
    grid-column: 2 / span 1;
    text-decoration: none;
    color: blue;
}
.quote-info-container {
    display: grid;
    grid-template-columns: 12vw 28vw;
    margin-top: 1rem;
}
.checkbox-container {
    display: flex;
    justify-content: space-between;
}
.checkbox-container div {
    display: flex;
    align-items: center;
}
.quote-label {
    grid-column: 1 / span 1;
    font-size: 1.5rem;
}
.quote-input, .dropdown {
    height: 1.5rem;
    border: 0.125em solid rgb(70, 70, 70);
    font-size: 1rem;
}
.checkbox {
    font-size: 1.2rem;
    height: 1.5rem;
    vertical-align: middle;
}
.dropdown{
    width: 8.5rem;
}
.date {
    width: 8rem;
}
.tiers {
    width: 2.5rem;
}
.quote-info input {
    grid-column: 2 / span 1;
}
.txtarea-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.txtarea-container label {
    font-size: 1.5rem;
}
.txtarea-container textarea {
    margin-top: 0.5rem;
    font-size: 1.2em;
    height: 10rem;
}
.quote-btn {
    margin-top: 1rem;
    width: 11rem;
    margin-bottom: 1rem;
}
@media (max-width: 300px){
    .ninis-header {
        font-size: 3rem;
    }
    .ninis-desc {
        font-size: 0.96rem;
    }
    .contact-info a {
        font-size: 1.3rem;
    }
    .mail, .ig {
        height: 1.3rem;
        width: 1.8rem;
    }
    .ig {
        width: 1.5rem;
    }
    .cake-modal-content {
        height: 18rem;
        width: 95vw;
    }
    .cake-info img {
        height: 12rem;
        width: 42vw;
    }
}
@media (max-width: 330px){
    .checkbox {
        font-size: 0.8rem;
        height: 0.8rem;
    }
}
@media (max-width: 500px){
    #password-container, .quote, .account-info, .contact {
        width: 95vw;
        margin-top: 5rem;
    }
    .delete-modal-content {
        height: 8rem;
        width: 95vw;
        font-size: 1rem;
    }
    .contact-info div {
        grid-template-columns: 11.875vw 83.125vw;
    }
    .quote-info-container {
        grid-template-columns: 24vw 71vw;
    }
    .txtarea-container label, .quote-label {
        font-size: 1.25rem;
    }
    .navbar span {
        font-size: 0.88rem;
    }
    .dropdown-btn span {
        width: 1.2rem;
    }
    .dropdown-content {
        width: 50vw;
    }
    .dropdown-content div {
        height: 5rem;
    }
    .navbar a {
        font-size: 1rem;
        font-weight: bold;
    }
    .form-btns button {
        width: 4.5rem;
        font-size: 1rem;
    }
    .form-btns a {
        font-size: 0.8rem;
    }
    .cake-modal-content header {
        font-size: 1.5rem;
    }
    .cake-info span {
        font-size: 0.9rem;
        padding-top: 2rem;
        padding-left: 1.5rem;
    }
    .edit-btn, .change-pwd-btn, .delete-btn {
        width: 3.5rem;
        font-size: 1rem;
    }
    .change-pwd-btn {
        width: 9.5rem;
    }
    .delete-btn {
        width: 4rem;
    }
    .delete-modal-content button {
        font-size: 1rem;
    }
    .confirmation header {
        font-size: 2rem;
    }
}
@media (min-width:331px) and (max-width: 500px){
    .checkbox {
        font-size: 1rem;
        height: 1rem;
    }
}
@media (min-width:301px) and (max-width: 500px){
    .ninis-header {
        font-size: 3.5rem;
    }
    .ninis-desc {
        font-size: 1.12rem;
    }
    .contact-info a {
        font-size: 1.4rem;
    }
    .mail, .ig {
        height: 1.4rem;
        width: 2rem;
    }
    .ig {
        width: 1.7rem;
    }
    .contact {
        margin-top: 4rem;
    }
    .cake-modal-content {
        height: 20rem;
        width: 85vw;
    }
    .cake-info img {
        height: 13rem;
        width: 35vw;
    }
}
@media (min-width:501px) and (max-width:700px){
    #password-container, .quote, .account-info, .contact, .delete-modal-content {
        width: 77.5vw;
    }
    .contact-info div {
        grid-template-columns: 9.6875vw 67.8125vw;
    }
    .quote-info-container {
        grid-template-columns: 23.25vw 54.25vw;
    }
    .dropdown-content {
        width: 45vw;
    }
    .cake-modal-content {
        height: 22rem;
        width: 70vw;
    }
    .cake-info img {
        height: 13rem;
        width: 35vw;
    }
    .cake-info span {
        padding-top: 2rem;
    }
}
@media (min-width:701px) and (max-width:1000px){
    #password-container, .quote, .account-info, .contact, .delete-modal-content {
        width: 60vw;
    }
    .contact-info div {
        grid-template-columns: 7.5vw 52.5vw;
    }
    .quote-info-container {
        grid-template-columns: 18vw 42vw;
    }
    .dropdown-content {
        width: 35vw;
    }
    .cake-modal-content {
        height: 30rem;
        width: 70vw;
    }
    .cake-info img {
        height: 20rem;
    }
}