.navbar {
    display: flex;
    justify-content: space-between;
}
.dropdown-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1.875rem;
    cursor: pointer;
}
.dropdown-btn span {
    height: 0.1875rem;
    width: 1.5rem;
    background-color: black;
    margin-left: 0.1875rem;
}
.navbar span, .navbar a {
    font-weight: bold;
    font-size: 1.1rem;
    font-family: cursive;
    text-decoration: none;
    color: black;
}
.ninis-header {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Parisienne';
}
.ninis-desc {
    text-align: center;
    margin: auto;
    font-size: 1.6rem;
    font-family: 'Parisienne';
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background-color: rgba(0,0,0,0.85);
}
.dropdown-content {
    z-index: 999;
    position: fixed;
    left: -30rem;
    top: 0;
    width: 22rem;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}
.show {
    transform: translateX(30rem);
}
.dropdown-content div {
    background-color: white;
    height: 7rem;
    border: 0.0625rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-content a, .dropdown-content span {
    font-size: 2rem;
}
.cakes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5rem;
}
.cake {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
}
.cake-name {
    font-size: 2rem;
    font-family: cursive;
    color: black;
    text-align: center;
    cursor: pointer;
}
.cake-img {
    height: 20rem;
    width: 18rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.cake-modal-content {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35rem;
    width: 45rem;
    overflow: auto;
    background: #fff;
    box-sizing: border-box;
    padding: 0.625rem 1.875rem;
    box-shadow: 0 0.0625rem 0.3125rem rgba(0,0,0,0.7);
    border-radius: 0.25rem;
}
.cake-modal-content header {
    font-size: 2rem;
    font-family: cursive;
    color: black;
    text-align: center;
    font-weight: bold;
}
.cake-info {
    display: flex;
    justify-content: space-between;
}
.cake-info img {
    height: 25rem;
    width: 22.5rem;
}
.cake-info span {
    font-size: 1.5rem;
    padding-top: 4rem;
    padding-left: 2rem;
}
.account-info, .contact {
    height: 27rem;
    width: 30rem;
    margin: auto;
    margin-top: 6rem;
}
.account-info header, .contact header {
    font-weight: bold;
    font-size: 2.25rem;
    font-family: cursive;
}
.form-inputs, .profile {
    display: flex;
    flex-direction: column;
}
.inputs {
    margin-top: 1rem;
    height: 1.5rem;
    font-size: 1rem;
    border: 0.125rem solid rgb(70, 70, 70);
}
.form-btns, .profile-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.form-btns button {
    height: 2.1rem;
    width: 7rem;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    border: 0.0625rem solid black;
}
.edit-btn, .change-pwd-btn, .save-btn {
    height: 2.1rem;
    width: 5rem;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    border: 0.0625rem solid black;
}
.change-pwd-btn {
    width: 13rem;
}
.delete-btn {
    height: 2.1rem;
    width: 6rem;
    margin-top: 2rem;
    background-color: rgb(201, 201, 201);
    color: rgb(255, 52, 52);
    font-size: 1.4rem;
    border: 0.0625rem solid black;
}
.form-btns a {
    text-decoration: none;
    color: blue;
    font-size: 1rem;
}
.errors, .success, .message {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}
.success {
    color: #155724;
    background-color: #d4edda;
}
.message {
    color: #004084;
    background-color: #CCE5FE;
}
.err-msg, .success-msg, .msg {
    width: 90%;
}
.close {
    cursor: pointer;
}
.confirmation {
    text-align: center;
    margin-top: 6rem;
}
.confirmation header {
    font-weight: bold;
    font-size: 3rem;
}
.confirmation p {
    font-size: 1.5rem;
}
.confirmation a {
    color: blue;
}
#password-container {
    height: 27rem;
    width: 30rem;
    margin: auto;
    margin-top: 5rem;
}
#pwd-btn {
    height: 2.1rem;
    width: 10rem;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    border: 0.0625rem solid black;
    margin-top: 1rem;
}
.delete-modal-content {
    z-index: 999;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 8rem;
    width: 30rem;
    overflow: auto;
    background: #fff;
    box-sizing: border-box;
    padding: 0.625rem 1.875rem;
    box-shadow: 0 0.0625rem 0.3125rem rgba(0,0,0,0.7);
    border-radius: 0.25rem;
    font-size: 1.4rem;
}
.delete-modal-content div {
    display: flex;
}
.delete-modal-content button {
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
}
#delete {
    background-color: rgb(219, 0, 0);
    color: white;
    border: 0.0625rem solid rgb(219, 0, 0);
}
#cancel {
    color: #1355CC;
}
.contact-info div {
    margin-top:  2rem;
    display: grid;
    grid-template-columns: 4rem 26rem;
}
.mail, .ig {
    height: 2rem;
    width: 2.6rem;
    grid-column: 1 / span 1;
    margin: auto;
}
.ig {
    width: 2.2rem;
}
.contact-info a {
    font-size: 2rem;
    grid-column: 2 / span 1;
    text-decoration: none;
}
