.navbar {
    display: flex;
    justify-content: space-between;
}
.dropdown-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1.875rem;
    border: 0.125rem solid black;
}
.dropdown-btn span {
    height: 0.1875rem;
    width: 80%;
    background-color: black;
    margin-left: 10%;
}
.navbar span {
    font-weight: bold;
    font-size: 1.1rem;
    font-family: cursive;
}
.ninis-header {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Parisienne';
}
.ninis-desc {
    text-align: center;
    margin: auto;
    font-size: 1.6rem;
    font-family: 'Parisienne';
}
.dropdown-content {
    display: none;
}