<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="contact">
        <header>Contact</header>
        <div class="contact-info">
            <div>
                <img class='mail' src="/images/email.png">
                <a href="mailto:niniscakesnyc@gmail.com">niniscakesnyc@gmail.com</a>
            </div>
            <div>
                <img class='ig' src="/images/instagram.png">
                <a href="https://www.instagram.com/niniscake_nyc/" target="_blank">@niniscake_nyc</a>
            </div>
        </div>
    </div>
    <%- include('../partials/scripts') %>
</body>
</html>