<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div class="navbar">
        <div class="dropdown-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="dropdown">
            <div class="overlay"></div>
            <div class="dropdown-content" tabindex="-1">
                <div tabindex="-1">
                    <span tabindex="-1"><a tabindex="-1" href="#">Login</a> / <a tabindex="-1" href="#">Register</a></span>
                </div>
                <div tabindex="-1"><a tabindex="-1" href="#">Home</a></div>
                <div tabindex="-1"><a tabindex="-1" href="#">About</a></div>
                <div tabindex="-1"><a tabindex="-1" href="#">Request a Quote</a></div>
                <div tabindex="-1"><a tabindex="-1" href="#">Write a Review</a></div>
                <div tabindex="-1"><a tabindex="-1" href="#">Contact Us</a></div>
            </div>
        </div>
        <span>Register / Login</span>
    </div>
    <div>
        <header class="ninis-header">Nini's Cakes</header>
        <p class="ninis-desc">Best Custom Cakes in NYC</p>
    </div>
    <%- include('../partials/scripts') %>
</body>
</html>