<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div class="navbar">
        <div class="dropdown-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="dropdown-content">
            <a href="#">Login</a><span> / </span><a href="#">Register</a>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Request a Quote</a>
            <a href="#">Write a Review</a>
            <a href="#">Contact Us</a>
        </div>
        <span>Register / Login</span>
    </div>
    <div>
        <header class="ninis-header">Nini's Cakes</header>
        <p class="ninis-desc">Best Custom Cakes in NYC</p>
    </div>

</body>
</html>