<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="confirmation">
        <header>Quote Requested!</header>
        <p>Your request has been received. Nini will contact you by email or phone within the next 48 hours. Thank you!</p>
    </div>
    <%- include('../partials/scripts') %>
</body>
</html>