<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="confirmation">
        <header>Thanks for Registering!</header>
        <p>An email from niniscakesnyc@gmail.com was just sent to you. Please follow its directions to complete your registration.</p>
        <p><a href="/">Home</a> | <a href="/login">Login</a></p>
    </div>
    <%- include('../partials/scripts') %>
</body>
</html>